@import "media-queries.scss";
@import "color.scss";

.mobile-contact {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;

    @include mobile-devices {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &-btn {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
    }

    &-address {
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: $blackColor;
        color: $textLightColor;
        padding: 15px 0;
        margin: 0;

        span {
            color: $blueColor;
        }
    }

    #mobile-contact-phone {
        background-color: $blueColor;
    }

    #mobile-contact-mail {
        background-color: $textDarkColorHover;
    }

    #mobile-scroll-btn {
        background-color: $textDarkColor;
    }

    a {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $textLightColor;
        font-size: 20px;
    }
}