@import "media-queries.scss";
@import "color.scss";

.scroll-to-top-btn {
    position: fixed;
    bottom: 120px;
    right: 5%;
    z-index: 99;
    border-radius: 50%;
    background-color: #C3C3C3;

    @include mobile-devices {
        right: 8%;
        bottom: 100px;
    }

    & > a {
        display: flex;
        justify-content: center;
        padding: 12px 10px;
        color: $textDarkColor;
        font-size: 25px;
    }
}